.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

.portrait .video {
  object-fit: contain;
}

.landscape .video {
  object-fit: cover;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 100%;
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: #1f2937; /* bg-gray-800 */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.placeholderText {
  font-size: 1.5rem; /* text-2xl */
  font-family: monospace;
}
