.container {
  background-color: white;
  
}


/* Unified Layout */
.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  container-type: size;
}

.landscape {
  flex-direction: row;
}

.portrait {
  flex-direction: column;
}

.videoWrapper {
  position: relative;
  flex: 67; /* 70% space */
  overflow: hidden;
  display: flex;
  container-type: size;
}

.contentWrapper {
  position: relative;
  flex: 33; /* 30% space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:white ;
  container-type: size;
}


